In [386]:
import pandas as pd

##  Topics in Part 3:
### 1) Updating Rows and Columns (Modifying Data Within DataFrames)
### 2) Add or Remove Rows and Columns From DataFrames
#### ---------------------------------------

1) Updating Rows and Columns (Modifying Data Within DataFrames)

In [387]:
df = pd.read_json('./data.json')
df.head()

   id                       name             author  year
0   1          The Space Odyssey   Arthur C. Clarke  2020
1   2                       Dune      Frank Herbert  2020
2   3                Neuromancer     William Gibson  2020
3   4                 Snow Crash    Neal Stephenson  2020
4   5  The Left Hand of Darkness  Ursula K. Le Guin  2020

In [388]:
df.columns

Index(['id', 'name', 'author', 'year'], dtype='object')

In [389]:
df.columns = ['id','movie_name', 'author_name', 'year']

In [390]:
df.head()

   id                 movie_name        author_name  year
0   1          The Space Odyssey   Arthur C. Clarke  2020
1   2                       Dune      Frank Herbert  2020
2   3                Neuromancer     William Gibson  2020
3   4                 Snow Crash    Neal Stephenson  2020
4   5  The Left Hand of Darkness  Ursula K. Le Guin  2020

In [391]:
df.columns = [x.upper() for x in df.columns]
df.tail()

    ID            MOVIE_NAME       AUTHOR_NAME  YEAR
33  34        Oryx and Crake   Margaret Atwood  2020
34  35   The City & The City    China Miéville  2020
35  36              The Road   Cormac McCarthy  2020
36  37             The Stand      Stephen King  2020
37  38  The Andromeda Strain  Michael Crichton  2020

In [392]:
df.columns = df.columns.str.replace('_', '.')
df.head()

   ID                 MOVIE.NAME        AUTHOR.NAME  YEAR
0   1          The Space Odyssey   Arthur C. Clarke  2020
1   2                       Dune      Frank Herbert  2020
2   3                Neuromancer     William Gibson  2020
3   4                 Snow Crash    Neal Stephenson  2020
4   5  The Left Hand of Darkness  Ursula K. Le Guin  2020

In [393]:
df['AUTHOR.NAME']

0         Arthur C. Clarke
1            Frank Herbert
2           William Gibson
3          Neal Stephenson
4        Ursula K. Le Guin
5             Isaac Asimov
6              Dan Simmons
7            Aldous Huxley
8         Orson Scott Card
9        Richard K. Morgan
10           Douglas Adams
11        James S.A. Corey
12            Isaac Asimov
13               Andy Weir
14      Robert A. Heinlein
15               Liu Cixin
16          Philip K. Dick
17              H.G. Wells
18         Suzanne Collins
19              H.G. Wells
20          Yukito Kishiro
21        Michael Crichton
22              Carl Sagan
23        Paolo Bacigalupi
24            N.K. Jemisin
25            Blake Crouch
26    Kim Stanley Robinson
27         Margaret Atwood
28             John Scalzi
29       Octavia E. Butler
30             John Scalzi
31       Ursula K. Le Guin
32            Tom Perrotta
33         Margaret Atwood
34          China Miéville
35         Cormac McCarthy
36            Stephen King
37        Michael Crichton
Name: AUTHOR.NAME, dtype: object

In [394]:
df.rename(columns={'ID': 'id','MOVIE.NAME': 'name', 'AUTHOR.NAME':'author', 'YEAR': 'year'}, inplace=True)

In [395]:
df.loc[2, ['name','author','year']] = ['Mandingo', 'Imanol','2020'] 
df

C:\Users\User\AppData\Local\Temp\ipykernel_7792\2237489209.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2020' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[2, ['name','author','year']] = ['Mandingo', 'Imanol','2020']

    id                                  name                author  year
0    1                     The Space Odyssey      Arthur C. Clarke  2020
1    2                                  Dune         Frank Herbert  2020
2    3                              Mandingo                Imanol  2020
3    4                            Snow Crash       Neal Stephenson  2020
4    5             The Left Hand of Darkness     Ursula K. Le Guin  2020
5    6                            Foundation          Isaac Asimov  2020
6    7                              Hyperion           Dan Simmons  2020
7    8                       Brave New World         Aldous Huxley  2020
8    9                          Ender's Game      Orson Scott Card  2020
9   10                        Altered Carbon     Richard K. Morgan  2020
10  11  The Hitchhiker's Guide to the Galaxy         Douglas Adams  2020
11  12          The Expanse: Leviathan Wakes      James S.A. Corey  2020
12  13                              I, Robot          Isaac Asimov  2020
13  14                           The Martian             Andy Weir  2020
14  15                     Starship Troopers    Robert A. Heinlein  2020
15  16                The Three-Body Problem             Liu Cixin  2020
16  17  Do Androids Dream of Electric Sheep?        Philip K. Dick  2020
17  18                      The Time Machine            H.G. Wells  2020
18  19                      The Hunger Games       Suzanne Collins  2020
19  20                 The War of the Worlds            H.G. Wells  2020
20  21                   Alita: Battle Angel        Yukito Kishiro  2020
21  22                         Jurassic Park      Michael Crichton  2020
22  23                               Contact            Carl Sagan  2020
23  24                       The Windup Girl      Paolo Bacigalupi  2020
24  25                      The Fifth Season          N.K. Jemisin  2020
25  26                           Dark Matter          Blake Crouch  2020
26  27                              Red Mars  Kim Stanley Robinson  2020
27  28                   The Handmaid's Tale       Margaret Atwood  2020
28  29                         Old Man's War           John Scalzi  2020
29  30                               Kindred     Octavia E. Butler  2020
30  31                               Lock In           John Scalzi  2020
31  32                      The Dispossessed     Ursula K. Le Guin  2020
32  33                         The Leftovers          Tom Perrotta  2020
33  34                        Oryx and Crake       Margaret Atwood  2020
34  35                   The City & The City        China Miéville  2020
35  36                              The Road       Cormac McCarthy  2020
36  37                             The Stand          Stephen King  2020
37  38                  The Andromeda Strain      Michael Crichton  2020

In [396]:
df.loc[5] = [6, 'XXX', 'Kendra Lust', '2020']
df

    id                                  name                author  year
0    1                     The Space Odyssey      Arthur C. Clarke  2020
1    2                                  Dune         Frank Herbert  2020
2    3                              Mandingo                Imanol  2020
3    4                            Snow Crash       Neal Stephenson  2020
4    5             The Left Hand of Darkness     Ursula K. Le Guin  2020
5    6                                   XXX           Kendra Lust  2020
6    7                              Hyperion           Dan Simmons  2020
7    8                       Brave New World         Aldous Huxley  2020
8    9                          Ender's Game      Orson Scott Card  2020
9   10                        Altered Carbon     Richard K. Morgan  2020
10  11  The Hitchhiker's Guide to the Galaxy         Douglas Adams  2020
11  12          The Expanse: Leviathan Wakes      James S.A. Corey  2020
12  13                              I, Robot          Isaac Asimov  2020
13  14                           The Martian             Andy Weir  2020
14  15                     Starship Troopers    Robert A. Heinlein  2020
15  16                The Three-Body Problem             Liu Cixin  2020
16  17  Do Androids Dream of Electric Sheep?        Philip K. Dick  2020
17  18                      The Time Machine            H.G. Wells  2020
18  19                      The Hunger Games       Suzanne Collins  2020
19  20                 The War of the Worlds            H.G. Wells  2020
20  21                   Alita: Battle Angel        Yukito Kishiro  2020
21  22                         Jurassic Park      Michael Crichton  2020
22  23                               Contact            Carl Sagan  2020
23  24                       The Windup Girl      Paolo Bacigalupi  2020
24  25                      The Fifth Season          N.K. Jemisin  2020
25  26                           Dark Matter          Blake Crouch  2020
26  27                              Red Mars  Kim Stanley Robinson  2020
27  28                   The Handmaid's Tale       Margaret Atwood  2020
28  29                         Old Man's War           John Scalzi  2020
29  30                               Kindred     Octavia E. Butler  2020
30  31                               Lock In           John Scalzi  2020
31  32                      The Dispossessed     Ursula K. Le Guin  2020
32  33                         The Leftovers          Tom Perrotta  2020
33  34                        Oryx and Crake       Margaret Atwood  2020
34  35                   The City & The City        China Miéville  2020
35  36                              The Road       Cormac McCarthy  2020
36  37                             The Stand          Stephen King  2020
37  38                  The Andromeda Strain      Michael Crichton  2020

In [397]:
filt = (df['name'] == 'XXX')
df.loc[filt, 'author'] = ['Vin Diesel']
df.head(10)

   id                       name             author  year
0   1          The Space Odyssey   Arthur C. Clarke  2020
1   2                       Dune      Frank Herbert  2020
2   3                   Mandingo             Imanol  2020
3   4                 Snow Crash    Neal Stephenson  2020
4   5  The Left Hand of Darkness  Ursula K. Le Guin  2020
5   6                        XXX         Vin Diesel  2020
6   7                   Hyperion        Dan Simmons  2020
7   8            Brave New World      Aldous Huxley  2020
8   9               Ender's Game   Orson Scott Card  2020
9  10             Altered Carbon  Richard K. Morgan  2020

In [398]:
df['name'] = df['name'].str.lower()
df.head(10)

   id                       name             author  year
0   1          the space odyssey   Arthur C. Clarke  2020
1   2                       dune      Frank Herbert  2020
2   3                   mandingo             Imanol  2020
3   4                 snow crash    Neal Stephenson  2020
4   5  the left hand of darkness  Ursula K. Le Guin  2020
5   6                        xxx         Vin Diesel  2020
6   7                   hyperion        Dan Simmons  2020
7   8            brave new world      Aldous Huxley  2020
8   9               ender's game   Orson Scott Card  2020
9  10             altered carbon  Richard K. Morgan  2020

 Methods para trabajar apply, map, applymap & replace

In [399]:
## Apply Method
df['name'].apply(len)

0     17
1      4
2      8
3     10
4     25
5      3
6      8
7     15
8     12
9     14
10    36
11    28
12     8
13    11
14    17
15    22
16    36
17    16
18    16
19    21
20    19
21    13
22     7
23    15
24    16
25    11
26     8
27    19
28    13
29     7
30     7
31    16
32    13
33    14
34    19
35     8
36     9
37    20
Name: name, dtype: int64

In [400]:
def update_name(name):
    return name.upper()

df['author'] = df['author'].apply(update_name)
df

    id                                  name                author  year
0    1                     the space odyssey      ARTHUR C. CLARKE  2020
1    2                                  dune         FRANK HERBERT  2020
2    3                              mandingo                IMANOL  2020
3    4                            snow crash       NEAL STEPHENSON  2020
4    5             the left hand of darkness     URSULA K. LE GUIN  2020
5    6                                   xxx            VIN DIESEL  2020
6    7                              hyperion           DAN SIMMONS  2020
7    8                       brave new world         ALDOUS HUXLEY  2020
8    9                          ender's game      ORSON SCOTT CARD  2020
9   10                        altered carbon     RICHARD K. MORGAN  2020
10  11  the hitchhiker's guide to the galaxy         DOUGLAS ADAMS  2020
11  12          the expanse: leviathan wakes      JAMES S.A. COREY  2020
12  13                              i, robot          ISAAC ASIMOV  2020
13  14                           the martian             ANDY WEIR  2020
14  15                     starship troopers    ROBERT A. HEINLEIN  2020
15  16                the three-body problem             LIU CIXIN  2020
16  17  do androids dream of electric sheep?        PHILIP K. DICK  2020
17  18                      the time machine            H.G. WELLS  2020
18  19                      the hunger games       SUZANNE COLLINS  2020
19  20                 the war of the worlds            H.G. WELLS  2020
20  21                   alita: battle angel        YUKITO KISHIRO  2020
21  22                         jurassic park      MICHAEL CRICHTON  2020
22  23                               contact            CARL SAGAN  2020
23  24                       the windup girl      PAOLO BACIGALUPI  2020
24  25                      the fifth season          N.K. JEMISIN  2020
25  26                           dark matter          BLAKE CROUCH  2020
26  27                              red mars  KIM STANLEY ROBINSON  2020
27  28                   the handmaid's tale       MARGARET ATWOOD  2020
28  29                         old man's war           JOHN SCALZI  2020
29  30                               kindred     OCTAVIA E. BUTLER  2020
30  31                               lock in           JOHN SCALZI  2020
31  32                      the dispossessed     URSULA K. LE GUIN  2020
32  33                         the leftovers          TOM PERROTTA  2020
33  34                        oryx and crake       MARGARET ATWOOD  2020
34  35                   the city & the city        CHINA MIÉVILLE  2020
35  36                              the road       CORMAC MCCARTHY  2020
36  37                             the stand          STEPHEN KING  2020
37  38                  the andromeda strain      MICHAEL CRICHTON  2020

In [401]:
df['author'] = df['author'].apply(lambda x: x.lower()) # Esta es una func Lambda
df

    id                                  name                author  year
0    1                     the space odyssey      arthur c. clarke  2020
1    2                                  dune         frank herbert  2020
2    3                              mandingo                imanol  2020
3    4                            snow crash       neal stephenson  2020
4    5             the left hand of darkness     ursula k. le guin  2020
5    6                                   xxx            vin diesel  2020
6    7                              hyperion           dan simmons  2020
7    8                       brave new world         aldous huxley  2020
8    9                          ender's game      orson scott card  2020
9   10                        altered carbon     richard k. morgan  2020
10  11  the hitchhiker's guide to the galaxy         douglas adams  2020
11  12          the expanse: leviathan wakes      james s.a. corey  2020
12  13                              i, robot          isaac asimov  2020
13  14                           the martian             andy weir  2020
14  15                     starship troopers    robert a. heinlein  2020
15  16                the three-body problem             liu cixin  2020
16  17  do androids dream of electric sheep?        philip k. dick  2020
17  18                      the time machine            h.g. wells  2020
18  19                      the hunger games       suzanne collins  2020
19  20                 the war of the worlds            h.g. wells  2020
20  21                   alita: battle angel        yukito kishiro  2020
21  22                         jurassic park      michael crichton  2020
22  23                               contact            carl sagan  2020
23  24                       the windup girl      paolo bacigalupi  2020
24  25                      the fifth season          n.k. jemisin  2020
25  26                           dark matter          blake crouch  2020
26  27                              red mars  kim stanley robinson  2020
27  28                   the handmaid's tale       margaret atwood  2020
28  29                         old man's war           john scalzi  2020
29  30                               kindred     octavia e. butler  2020
30  31                               lock in           john scalzi  2020
31  32                      the dispossessed     ursula k. le guin  2020
32  33                         the leftovers          tom perrotta  2020
33  34                        oryx and crake       margaret atwood  2020
34  35                   the city & the city        china miéville  2020
35  36                              the road       cormac mccarthy  2020
36  37                             the stand          stephen king  2020
37  38                  the andromeda strain      michael crichton  2020

In [402]:
df.apply(len)

id        38
name      38
author    38
year      38
dtype: int64

In [403]:
df.astype(str).apply(pd.Series.min)

id                          1
name      alita: battle angel
author          aldous huxley
year                     2020
dtype: object

Applymap Method

In [404]:
df.astype(str).applymap(len)

C:\Users\User\AppData\Local\Temp\ipykernel_7792\1375405184.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.astype(str).applymap(len)

    id  name  author  year
0    1    17      16     4
1    1     4      13     4
2    1     8       6     4
3    1    10      15     4
4    1    25      17     4
5    1     3      10     4
6    1     8      11     4
7    1    15      13     4
8    1    12      16     4
9    2    14      17     4
10   2    36      13     4
11   2    28      16     4
12   2     8      12     4
13   2    11       9     4
14   2    17      18     4
15   2    22       9     4
16   2    36      14     4
17   2    16      10     4
18   2    16      15     4
19   2    21      10     4
20   2    19      14     4
21   2    13      16     4
22   2     7      10     4
23   2    15      16     4
24   2    16      12     4
25   2    11      12     4
26   2     8      20     4
27   2    19      15     4
28   2    13      11     4
29   2     7      17     4
30   2     7      11     4
31   2    16      17     4
32   2    13      12     4
33   2    14      15     4
34   2    19      14     4
35   2     8      15     4
36   2     9      12     4
37   2    20      16     4

In [405]:
df.astype(str).applymap(str.upper)

C:\Users\User\AppData\Local\Temp\ipykernel_7792\4089357708.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.astype(str).applymap(str.upper)

    id                                  name                author  year
0    1                     THE SPACE ODYSSEY      ARTHUR C. CLARKE  2020
1    2                                  DUNE         FRANK HERBERT  2020
2    3                              MANDINGO                IMANOL  2020
3    4                            SNOW CRASH       NEAL STEPHENSON  2020
4    5             THE LEFT HAND OF DARKNESS     URSULA K. LE GUIN  2020
5    6                                   XXX            VIN DIESEL  2020
6    7                              HYPERION           DAN SIMMONS  2020
7    8                       BRAVE NEW WORLD         ALDOUS HUXLEY  2020
8    9                          ENDER'S GAME      ORSON SCOTT CARD  2020
9   10                        ALTERED CARBON     RICHARD K. MORGAN  2020
10  11  THE HITCHHIKER'S GUIDE TO THE GALAXY         DOUGLAS ADAMS  2020
11  12          THE EXPANSE: LEVIATHAN WAKES      JAMES S.A. COREY  2020
12  13                              I, ROBOT          ISAAC ASIMOV  2020
13  14                           THE MARTIAN             ANDY WEIR  2020
14  15                     STARSHIP TROOPERS    ROBERT A. HEINLEIN  2020
15  16                THE THREE-BODY PROBLEM             LIU CIXIN  2020
16  17  DO ANDROIDS DREAM OF ELECTRIC SHEEP?        PHILIP K. DICK  2020
17  18                      THE TIME MACHINE            H.G. WELLS  2020
18  19                      THE HUNGER GAMES       SUZANNE COLLINS  2020
19  20                 THE WAR OF THE WORLDS            H.G. WELLS  2020
20  21                   ALITA: BATTLE ANGEL        YUKITO KISHIRO  2020
21  22                         JURASSIC PARK      MICHAEL CRICHTON  2020
22  23                               CONTACT            CARL SAGAN  2020
23  24                       THE WINDUP GIRL      PAOLO BACIGALUPI  2020
24  25                      THE FIFTH SEASON          N.K. JEMISIN  2020
25  26                           DARK MATTER          BLAKE CROUCH  2020
26  27                              RED MARS  KIM STANLEY ROBINSON  2020
27  28                   THE HANDMAID'S TALE       MARGARET ATWOOD  2020
28  29                         OLD MAN'S WAR           JOHN SCALZI  2020
29  30                               KINDRED     OCTAVIA E. BUTLER  2020
30  31                               LOCK IN           JOHN SCALZI  2020
31  32                      THE DISPOSSESSED     URSULA K. LE GUIN  2020
32  33                         THE LEFTOVERS          TOM PERROTTA  2020
33  34                        ORYX AND CRAKE       MARGARET ATWOOD  2020
34  35                   THE CITY & THE CITY        CHINA MIÉVILLE  2020
35  36                              THE ROAD       CORMAC MCCARTHY  2020
36  37                             THE STAND          STEPHEN KING  2020
37  38                  THE ANDROMEDA STRAIN      MICHAEL CRICHTON  2020

Map Method

In [406]:
df['name'].map({'XXX':'xxx', 'mandingo': 'Mandingo'})
df.head(10)

   id                       name             author  year
0   1          the space odyssey   arthur c. clarke  2020
1   2                       dune      frank herbert  2020
2   3                   mandingo             imanol  2020
3   4                 snow crash    neal stephenson  2020
4   5  the left hand of darkness  ursula k. le guin  2020
5   6                        xxx         vin diesel  2020
6   7                   hyperion        dan simmons  2020
7   8            brave new world      aldous huxley  2020
8   9               ender's game   orson scott card  2020
9  10             altered carbon  richard k. morgan  2020

In [407]:
df['name'] = df['name'].replace({'xxx':'XXX', 'mandingo':'Mandingo'})
df.head(6)

   id                       name             author  year
0   1          the space odyssey   arthur c. clarke  2020
1   2                       dune      frank herbert  2020
2   3                   Mandingo             imanol  2020
3   4                 snow crash    neal stephenson  2020
4   5  the left hand of darkness  ursula k. le guin  2020
5   6                        XXX         vin diesel  2020

2) Add or REmove Rows and Columns From DataFrames

In [408]:
## This is how we add columns to our DataFrame
df['name'] + " " + df['author']

0                    the space odyssey arthur c. clarke
1                                    dune frank herbert
2                                       Mandingo imanol
3                            snow crash neal stephenson
4           the left hand of darkness ursula k. le guin
5                                        XXX vin diesel
6                                  hyperion dan simmons
7                         brave new world aldous huxley
8                         ender's game orson scott card
9                      altered carbon richard k. morgan
10    the hitchhiker's guide to the galaxy douglas a...
11        the expanse: leviathan wakes james s.a. corey
12                                i, robot isaac asimov
13                                the martian andy weir
14                 starship troopers robert a. heinlein
15                     the three-body problem liu cixin
16    do androids dream of electric sheep? philip k....
17                          the time machine h.g. wells
18                     the hunger games suzanne collins
19                     the war of the worlds h.g. wells
20                   alita: battle angel yukito kishiro
21                       jurassic park michael crichton
22                                   contact carl sagan
23                     the windup girl paolo bacigalupi
24                        the fifth season n.k. jemisin
25                             dark matter blake crouch
26                        red mars kim stanley robinson
27                  the handmaid's tale margaret atwood
28                            old man's war john scalzi
29                            kindred octavia e. butler
30                                  lock in john scalzi
31                   the dispossessed ursula k. le guin
32                           the leftovers tom perrotta
33                       oryx and crake margaret atwood
34                   the city & the city china miéville
35                             the road cormac mccarthy
36                               the stand stephen king
37                the andromeda strain michael crichton
dtype: object

In [409]:
df['Full_Name'] = df['name'] + "|" + df['author'] # nueva columna creada
df.head(6)

,id,name,author,year,Full_Name
0,1,the space odyssey,arthur c. clarke,2020,the space odyssey|arthur c. clarke
1,2,dune,frank herbert,2020,dune|frank herbert
2,3,Mandingo,imanol,2020,Mandingo|imanol
3,4,snow crash,neal stephenson,2020,snow crash|neal stephenson
4,5,the left hand of darkness,ursula k. le guin,2020,the left hand of darkness|ursula k. le guin
5,6,XXX,vin diesel,2020,XXX|vin diesel

In [410]:
df.drop(columns=['name', 'author'], inplace=True) # Borra esas 2 columnas
df.head(6)

   id  year                                    Full_Name
0   1  2020           the space odyssey|arthur c. clarke
1   2  2020                           dune|frank herbert
2   3  2020                              Mandingo|imanol
3   4  2020                   snow crash|neal stephenson
4   5  2020  the left hand of darkness|ursula k. le guin
5   6  2020                               XXX|vin diesel

In [411]:
df[['name', 'author']] = df['Full_Name'].str.split("|", expand=True)
df.head(10)

,id,year,Full_Name,name,author
0,1,2020,the space odyssey|arthur c. clarke,the space odyssey,arthur c. clarke
1,2,2020,dune|frank herbert,dune,frank herbert
2,3,2020,Mandingo|imanol,Mandingo,imanol
3,4,2020,snow crash|neal stephenson,snow crash,neal stephenson
4,5,2020,the left hand of darkness|ursula k. le guin,the left hand of darkness,ursula k. le guin
5,6,2020,XXX|vin diesel,XXX,vin diesel
6,7,2020,hyperion|dan simmons,hyperion,dan simmons
7,8,2020,brave new world|aldous huxley,brave new world,aldous huxley
8,9,2020,ender's game|orson scott card,ender's game,orson scott card
9,10,2020,altered carbon|richard k. morgan,altered carbon,richard k. morgan

In [412]:
del df['Full_Name']
df.head()

   id  year                       name             author
0   1  2020          the space odyssey   arthur c. clarke
1   2  2020                       dune      frank herbert
2   3  2020                   Mandingo             imanol
3   4  2020                 snow crash    neal stephenson
4   5  2020  the left hand of darkness  ursula k. le guin

In [413]:
df = pd.concat([df, pd.DataFrame([{'name':'Miraclersss'}])])
df.tail()

      id  year                  name            author
34  35.0  2020   the city & the city    china miéville
35  36.0  2020              the road   cormac mccarthy
36  37.0  2020             the stand      stephen king
37  38.0  2020  the andromeda strain  michael crichton
0    NaN   NaN           Miraclersss               NaN

In [414]:
df.drop(index=(2), inplace=True) # Remueve un unico row
df.head()

    id  year                       name             author
0  1.0  2020          the space odyssey   arthur c. clarke
1  2.0  2020                       dune      frank herbert
3  4.0  2020                 snow crash    neal stephenson
4  5.0  2020  the left hand of darkness  ursula k. le guin
5  6.0  2020                        XXX         vin diesel

In [415]:
df.drop(index=[1,5], inplace=True) # remueve mas de 1 rows
df.head()

    id  year                       name             author
0  1.0  2020          the space odyssey   arthur c. clarke
3  4.0  2020                 snow crash    neal stephenson
4  5.0  2020  the left hand of darkness  ursula k. le guin
6  7.0  2020                   hyperion        dan simmons
7  8.0  2020            brave new world      aldous huxley

In [416]:
df.drop(index=range(6, 8), inplace=True) # Remueve un grupo de rows (desde, hasta)
df.head(10)

      id  year                                  name              author
0    1.0  2020                     the space odyssey    arthur c. clarke
3    4.0  2020                            snow crash     neal stephenson
4    5.0  2020             the left hand of darkness   ursula k. le guin
8    9.0  2020                          ender's game    orson scott card
9   10.0  2020                        altered carbon   richard k. morgan
10  11.0  2020  the hitchhiker's guide to the galaxy       douglas adams
11  12.0  2020          the expanse: leviathan wakes    james s.a. corey
12  13.0  2020                              i, robot        isaac asimov
13  14.0  2020                           the martian           andy weir
14  15.0  2020                     starship troopers  robert a. heinlein

In [417]:
# Remover Rows con un condicional
filtro = df['name'] == 'snow crash'
df.drop(index=df[filtro].index, inplace=True)
df.head(10)

      id  year                                  name              author
0    1.0  2020                     the space odyssey    arthur c. clarke
4    5.0  2020             the left hand of darkness   ursula k. le guin
8    9.0  2020                          ender's game    orson scott card
9   10.0  2020                        altered carbon   richard k. morgan
10  11.0  2020  the hitchhiker's guide to the galaxy       douglas adams
11  12.0  2020          the expanse: leviathan wakes    james s.a. corey
12  13.0  2020                              i, robot        isaac asimov
13  14.0  2020                           the martian           andy weir
14  15.0  2020                     starship troopers  robert a. heinlein
15  16.0  2020                the three-body problem           liu cixin